/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Vibur);
$grey: #3e3e3e;
$text_color_default: $grey;
$btn_default: #4299e1;
$blue_default: #0926fe;

.bg-blue-default {
  background-color: $blue_default;
}
