@import "_vars.scss";
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.0625rem;
  color: $text_color_default;
  height: 100% !important;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  background-color: #f7fafc;
}

.navbar-left {
  background: rgb(43, 108, 176);
  background: linear-gradient(
    180deg,
    rgba(43, 108, 176, 1) 29%,
    rgba(136, 173, 211, 1) 68%,
    rgba(247, 250, 252, 1) 95%
  );
}

.bar-char {
  canvas {
    height: 20vh !important;
  }
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
