@import url(https://fonts.googleapis.com/css?family=Vibur);
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$--grey: #3e3e3e;
$--text_color_default: $--grey;
$--btn_default: #4299e1;
$--blue_default: #0926fe;

:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px; /* Extra small screen / phone */
  --screen-sm-min: 768px; /* Small screen / tablet */
  --screen-md-min: 992px; /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
}

html,
body {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.0625rem;
  color: $--text_color_default;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7fafc;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.bg-blue-default {
  background-color: $--blue_default;
}

.navbar-left {
  background: rgb(43, 108, 176);
  background: linear-gradient(
    180deg,
    rgba(43, 108, 176, 1) 29%,
    rgba(136, 173, 211, 1) 68%,
    rgba(247, 250, 252, 1) 95%
  );
}

.bar-char {
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.login-register {
  --stagger-delay: 100ms;

  @keyframes cardAnimation {
    from {
      opacity: 0;
      transform: scale(0.3);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @apply flex flex-col justify-center items-center h-screen bg-blue-400;

  .login-register-title {
    @apply text-xl border-b-4 border-gray-300 uppercase;
  }

  img {
    @apply w-64 self-center mb-12;
  }

  form {
    animation: cardAnimation 200ms ease-out;
    animation-fill-mode: backwards;

    @apply flex flex-col rounded-md max-w-md w-full py-12 px-6 shadow-lg bg-white;

    .login-password {
      @apply absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5;
    }

    label {
      @apply text-lg mt-5;
    }

    input {
      @apply rounded inline-block  bg-gray-300 p-2;
    }

    button {
      @apply mt-8;
    }

    a {
      @apply text-blue-600 self-center;

      &:hover {
        @apply text-blue-700;
      }
    }

    .alert {
      @apply text-red-700 self-center my-2;
    }
  }
}
