@import url(https://fonts.googleapis.com/css?family=Vibur);
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$--grey: #3e3e3e;
$--text_color_default: $--grey;
$--btn_default: #4299e1;
$--blue_default: #0926fe;

/*
   * Colors
   * ======================================================================== */

$--primary: #015c92;

:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px; /* Extra small screen / phone */
  --screen-sm-min: 768px; /* Small screen / tablet */
  --screen-md-min: 992px; /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
}

html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  letter-spacing: 0.0625rem;
  color: $--text_color_default;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-gray-200;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.bg-blue-default {
  background-color: $--blue_default;
}

// .navbar-left {
//   background: rgb(43, 108, 176);
//   background: linear-gradient(
//     180deg,
//     rgba(43, 108, 176, 1) 29%,
//     rgba(136, 173, 211, 1) 68%,
//     rgba(247, 250, 252, 1) 95%
//   );
// }

.bar-char {
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.title {
  @apply text-xl font-bold uppercase h-8 items-center flex bg-orange-300;
}

.subtitle {
  @apply text-xl h-8 items-center flex;
}

/*
   * Layout
   * ======================================================================== */

main {
  @apply flex;
}

.home {
  @apply w-full p-5 relative;

  .card-grid {
    @apply grid grid-cols-3 overflow-hidden mt-5 gap-4;
  }
}

/*
   * Login and Register
   * ======================================================================== */

.login-register {
  --stagger-delay: 100ms;

  @keyframes cardAnimation {
    from {
      opacity: 0;
      transform: scale(0.3);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @apply flex flex-col justify-center items-center h-screen bg-blue-400;

  .login-register-title {
    @apply text-xl border-b-4 border-gray-300 uppercase;
  }

  img {
    @apply w-64 self-center mb-12;
  }

  form {
    animation: cardAnimation 200ms ease-out;
    animation-fill-mode: backwards;

    @apply flex flex-col rounded-md max-w-md w-full py-12 px-6 shadow-lg bg-white;

    .login-password {
      @apply absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5;
    }

    label {
      @apply text-lg mt-5;
    }

    input {
      @apply rounded inline-block  bg-gray-300 p-2;
    }

    button {
      @apply mt-8;
    }

    a {
      @apply text-blue-600 self-center;

      &:hover {
        @apply text-blue-700;
      }
    }

    .alert {
      @apply text-red-700 self-center my-2;
    }
  }
}

/*
   * Navbar
   * ======================================================================== */

.navbar {
  @apply flex justify-between;

  div {
    @apply flex items-center;
  }

  &__icon {
    transform-origin: center bottom;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);

    @apply font-bold text-white rounded-full h-10 w-10;
  }

  .btn_add {
    background-color: #73c384;

    &:hover {
      @apply bg-green-700;
    }
  }

  .btn_exit {
    background-color: #f07b71;

    &:hover {
      @apply bg-orange-600;
    }
  }

  .subtitle {
    @apply font-bold ml-5;
  }
}

/*
   * Sidebar
   * ======================================================================== */

.sidebar {
  background-color: $--primary;

  @apply w-20 py-5 relative;

  .logo {
    @apply flex justify-center p-5;

    img {
      @apply h-10 w-10;
    }
  }

  .btn {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);

    @apply p-5 w-full text-white font-bold;

    &:hover {
      @apply bg-green-600;
    }
  }
}

/*
   * Crad
   * ======================================================================== */

.card {
  @apply overflow-hidden p-5 bg-white shadow-sm self-start rounded-md;
}

.card-results {
  background-color: $--primary;

  @apply text-white;

  .title {
    @apply bg-transparent;
  }
}

.card-picker {
  @apply grid gap-4 col-span-2;
}

.btn-csv {
  @apply rounded-md bg-blue-500 flex justify-center bg-green-500;
}

/*
   * Crop Picker
   * ======================================================================== */

.crop-colunm {
  @apply grid grid-cols-12;

  &__item {
    @apply flex flex-col items-center;
  }

  &__btn {
    background-color: tomato;
    order: 0;
    transform-origin: center bottom;
    box-shadow: 6px 6px rgba(black, 0.2);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    // transform: scaleY(0) translate3d(0, 0, 0);

    @apply w-10 h-24;

    &:hover {
      box-shadow: 10px 10px rgba(black, 0.2);

      @apply bg-indigo-400;
    }

    // &.after {
    //   transform: none;
    // }
  }

  .disabled {
    pointer-events: none;
    background-color: #bdbcbc;
  }

  p {
    @apply text-sm font-bold mt-5;
  }
}

.crop {
  @apply grid grid-cols-12 gap-4 border-indigo-700 relative p-0;

  .crop-picker {
    transition: all 0.3s ease-in-out;

    @apply flex flex-col items-center bg-green-500;

    p {
      @apply text-sm font-bold mt-5;
    }

    .btn-picker {
      @apply bg-orange-600 h-32 overflow-hidden shadow w-8;

      &:hover {
        @apply bg-yellow-400;
      }
    }
  }
}
